*{
    padding: 0;
    margin: 0;
}
body{
    font-family: monospace;
    font-size: 14px;
    line-height: 24px;
  
}
h1, h2, h3, h4, h5,,h6{
    font-family: sans-serif;
}
/****************************
 login form code start 
 **************************/
 .container{
     width: 1140px;
     margin: 100px auto;
 }
 .login-box{
     width: 40%;
     margin: 50px auto;
     background: #eee;
     padding: 80px;
     box-shadow: 1px 4px 10px;

 }
  .login-box h1{
      font-size: 42px;
      line-height: 52px;
      font-weight: 700;
      text-align: center;
      text-transform: capitalize;
  }
  .login-box .main-form{
      width: 100%;
      margin-top: 20px;

  }
  .login-box .main-form .form-group{
      width: 100%;
      margin: 15px 0px;
  }
  .login-box .main-form .form-group label{
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: block;
      margin-bottom: 5px;
  }
  .login-box .main-form .form-group .form-control{
      width: 93%;
      padding: 15px;
      font-size: 16px;
      font-weight: 700;
      text-transform:capitalize;
      letter-spacing: 1px;
  }
  .login-box .main-form .form-group .btn{
      padding: 10px 35px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      border: 1px solid #000;
      background: #000;
      color: #fff;
      border-radius: 3px;

    
  }
  .login-box .main-form .form-group .btn:hover,  .login-box .main-form .form-group .btn:focus{
    border: 1px solid tomato;
    background: tomato;
    color: #000;
  }